/* START OF STYLING */
body {
    background-color: #577399;
    margin: 0;
    padding: 0;
}

.nav
{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #fdfdff;
    display: inline-block;
    padding: 20px 5px;
    width: 100px;
    float: right;

}

h1
{
    color: #393d3f;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    font-size: 100px;
}

.panel {
    height: 100%;
    width: 100%;
}


audio,
canvas,
img,
video {
    vertical-align: middle;
}

textarea {
    resize: vertical;
}

/* ===== ScrollMagic Class ====== */

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ====== custom styles ====== */

/* ====== Landing Page Start ====== */
#landingPage {
    height: 100vh;
    text-align: center;
    color: #fdfdff;
    border-bottom: 1px #fdfdff solid;
}

/* ====== Landing Page Content Style ====== */
#landingPage .content {
    position: absolute;
    top: 50%;
    left: 50%;
}

/* ====== Each Product Page ====== */
.product {
    text-align: center;
    padding: 200px 0;
    border-bottom: 1px #fdfdff solid;
}

/* ====== Product Text Style ====== */
.product p {
    max-width: 300px;
    margin: 0 auto;
    color: #294D67;
}

#product01 h2 {
    color: #393d3f;
}
#product02 h2 {
    color: #393d3f;
}
#product03 h2 {
    color: #393d3f;
}

/********************** ABOUT PAGE *******************/

.block{
    display: flex;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
.left{
    flex: 1;
    background: #FF6133;
    background-image: url("images/studio.png");
    height: inherit;
}
.right{
    flex: 1;
    background:#546A7B;
    font-family: 'Roboto', sans-serif;
}

.con-title {
    font-size: 3vw;
    margin-top: 90px;
    font-weight: bold;
}

.tagline {
    font-size: .9vw;
    font-weight: bold;
}

.p-box {
    width: 30%;
    height: 200px;
    background-color: #2f8912;
    margin-left: auto;
    margin-right: auto;
}

/* =Footer */
.footer-container {
    text-align: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    background-color: #06060d;
}
.footer-container .wrapper {
    width: 80%;
    max-width: none;
    margin: 0 10%;
}
.footer-container h3 {
    margin: 0;
    padding: 20px 0;
    font-weight: normal;
}
.footer-container a {
    color: rgba(255, 255, 255, 0.5);
}






