/* START OF STYLING */

body {
    background-color: #577399;
    margin: 0;
    padding: 0;
}

body
{

}

.nav-contaner
{
    background-color: darkred;
}

.nav
{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: white;
    display: inline-block;
    padding: 20px 30px;
    width: 200px;
}

h1
{
    color: #009CFF;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    font-size: 100px;
}